/* ------------------- RESET CSS DE BASE ------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    user-select: none;
    cursor: none;
}

html {
    font-family: "FONTSPRING DEMO - The Seasons Light";
    font-size: 16px;
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

/* ------------------- PAGE 1 : HERO & HEADER ------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    user-select: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 36px;
}

.nav {
    display: flex;
    gap: 1.25rem;
    margin-left: auto;
    user-select: none;
}

.nav-list {
    display: flex;
    gap: 1.25rem;
    list-style: none;
}

.nav-list li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    transition: color 0.3s ease;
}

.nav-list li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}


.nav-list li a:hover::after {
    width: 100%;
}

.titre {
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    top: 50%;
    left: 50%;
    position: absolute;
    user-select: none;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    text-transform: uppercase;
    line-height: 0.73;
    font-weight: 400;
    animation: fadeInZoom 7s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes fadeInZoom {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
        filter: blur(10px);
    }
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url('Asset/why.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.77);
    z-index: 0;
}

.scrolldown {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
}

/* ------------------- PAGE 2 : ABOUT (Q?) ------------------- */
.about {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    color: white;
    font-family: "Fragment Mono", sans-serif;
    font-size: 14px;
}

.about-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.about-left {
    margin-left: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 8rem;
}



.competences-title {
    margin-bottom: 2.5rem;
    font-size: 0.875rem;
}

.competences-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.picture-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2.125rem;
    margin-bottom: 2rem;
    width: 100%;
    position: static;
    flex-wrap: wrap;
    text-align: center;
}

.qui-suis-je {
    position: absolute;
    top: 12vh;
    left: 5%;
    text-transform: uppercase;
    font-size: 14px;


}

.about-right {
    max-width: 38rem;
    letter-spacing: 0.07em;
    margin: 0 2rem;
    position: absolute;
    top: 12rem;
    right: 2rem;

}

/* Images du portfolio - style commun */
.portfolio-img {
    width: 12.875rem;
    height: 15.125rem;
    border-radius: 0.15625rem;
    object-fit: cover;
}

/* ------------------- PAGE 3 : PROFESSIONAL (P) ------------------- */
.professional {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Asset/Parcours.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "Fragment Mono", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.professional::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.637);
}

/* timeline */
.hr {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.timeline {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1;

}

.timeline-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3vh;
    background: white;
}

/* Tirets sur la timeline */
.timeline-marker {
    position: absolute;
    top: -1.5vh;
    width: 0.3vw;
    height: 3vh;
    background: white;
}

.timeline-marker.left {
    left: 10%;
}

.timeline-marker.center {
    left: 50%;
    transform: translateX(-50%);
}

.timeline-marker.right {
    left: 90%;
}

.para {
    position: absolute;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    /* hérite color, font-size, text-transform et font-family du parent .professional */
}

/* Texte sur la timeline */
.para.left {
    left: 5%;
    top: 35%;
    text-align: left;
}

.para.center {
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    text-align: center;
}

.para.right {
    right: 5%;
    top: 35%;
    text-align: right;
}

.txt-parcours {
    position: absolute;
    top: 12vh;
    left: 5%;
    font-size: 14px;

}

/* Style de la Page 4 - Formation */
.formation {
    height: 100vh;
    width: 100%;
    background: black;
    position: relative;
    overflow-y: auto;
    color: white;
    font-family: "Fragment Mono", sans-serif;
    font-size: 12px;
    line-height: 1.4;
    display: flex;
}

.video-left,
.video-right {
    flex: 1 1 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 50%;
}

.video-left {
    left: 0;
}

.video-right {
    right: 0;
}

.video-left .video,
.video-right .video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6;
}

.txt-formation {
    position: absolute;
    top: 12vh;
    left: 5%;
    font-size: 14px;
    z-index: 10;
    text-transform: uppercase;
}

.formation-content {
    position: relative;
    z-index: 5;
    padding: 8rem 5% 4rem 5%;
    max-width: 1200px;
    margin: 0 auto;


}

.formation-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.formation-intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 4rem auto;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
}

.formation-options {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    position: relative;

}

.formation-options::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    background: rgba(255, 255, 255, 0.132);
    z-index: -1;
}

.option-sisr,
.option-slam {
    flex: 1;
    min-height: 400px;
    text-transform: uppercase;
}

.option-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.option-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.competences-list-formation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.competences-list-formation li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.txt-formation {
    position: absolute;
    top: 12vh;
    left: 5%;
    font-size: 14px;
    z-index: 10;
    text-transform: uppercase;
}